MONGODB_USERNAME=root
MONGODB_PASSWORD=password
MONGODB_HOST_TYPE=local # local | atlas
MONGODB_HOST="localhost:27017"
SERVER_PORT=8081
K1_ACCESS_TOKEN=feedkray
IS_CLUSTER_ZERO=`
CLUSTER_TYPE="bootstrap"
CLUSTER_ID="abc456"
INSTALL_METHOD="helm"
CLOUD_PROVIDER=google
KUBEFIRST_VERSION=
DOMAIN_NAME=`
GIT_PROVIDER=`
KUBEFIRST_TEAM=
KUBEFIRST_TEAM_INFO=`
AWS_REGION=`
AWS_PROFILE=`
IN_CLUSTER=
ENTERPRISE_API_URL=`