{{- if not .Values.existingSecret }}
{{- $initialPassword := randAlphaNum 32 | b64enc | quote -}}
apiVersion: v1
kind: Secret
metadata:
  name: kubefirst-initial-secrets
  annotations:
    "helm.sh/resource-policy": "keep"
type: Opaque
data:
  mongodb-passwords: {{ $initialPassword }}
  mongodb-root-password: {{ $initialPassword }}
  mongodb-metrics-password: {{ $initialPassword }}
  mongodb-replica-set-key: {{ $initialPassword }}
  mongodb-host-type: {{- if not .Values.atlasDbHost }}
      local
    {{- else }}
      atlas
    {{- end }}
{{- end }}

