---
name: Markdown Syntax Validation

on: [push, workflow_dispatch]

jobs:
  check-markdown:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout this repository
        uses: actions/checkout@v4.1.7

      - name: Validate Markdown .md
        uses: DavidAnson/markdownlint-cli2-action@v16.0.0
        with:
          config: ".markdownlint.json"
          globs: "README.md"
